* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(196, 18, 18);
    padding: 30px 0px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* and= e  */
/* min= minimo da tela (do ponto para cima) */
/* máx = máximo da tela (do ponto para baixo) */

/* BREAKPOINT DO MOBILE */
@media screen and  (max-width: 601px) {
  header{
    background-color: rgb(23, 56, 204);
  }
#btnMobile{
    display: flex;
  }

  #logoPc{
    display: none;
  }
}

/* BREAKPOINT DO PC */
@media screen and  (min-width: 600px) {
  header{
    background-color: rgb(38, 204, 23);
  }

  #btnMobile{
    display: none;
  }

   #logoPc{
    display: flex;
  }
  
}

@media screen and (orientation: landscape){
    *{
        color: hotpink;
    }
}

@media screen and (orientation: portrait){
    *{
        color: rgb(28, 179, 128);
    }
}