*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria: #1b31ac;
    --corSecundaria: #34c916;
    --corLink: #801e8d;
    --corTexto: #000000d3;
}

header{
    width: 110%;
    padding: 15px 0px;
    background-color: var(--corPrimaria);
}


    